<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<nav class="navbar-global navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.postman.com/">
      <div class="navbar-logo-container">
        <img src="https://voyager.postman.com/logo/postman-logo-icon-orange.svg" alt="Postman" width="32" height="32" />

      </div>
    </a>
    <button id="postman-primary-nav" class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-expanded="false">
            Product
            <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"
              fill="#6b6b6b">
              <g>
                <path
                  d="M10.375,3.219,6,6.719l-4.375-3.5A1,1,0,1,0,.375,4.781l5,4a1,1,0,0,0,1.25,0l5-4a1,1,0,0,0-1.25-1.562Z" />
              </g>
            </svg>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="https//www.postman.com/product/what-is-postman/">
              What is Postman?
            </a>
            <a class="dropdown-item" href="https//www.postman.com/product/api-repository/">
              API repository
            </a>
            <a class="dropdown-item" href="https//www.postman.com/product/tools/">
              Tools
            </a>
            <a class="dropdown-item" href="https//www.postman.com/product/intelligence/">
              Intelligence
            </a>
            <a class="dropdown-item" href="https//www.postman.com/product/workspaces/">
              Workspaces
            </a>
            <a class="dropdown-item" href="https//www.postman.com/product/integrations/">
              Integrations
            </a>
            <a class="dropdown-item app-cta" href="https//www.postman.com/downloads/">
              Get started free →
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pricing/">
            Pricing
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="##" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-expanded="false">
            Enterprise
            <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"
              fill="#6b6b6b">
              <g>
                <path
                  d="M10.375,3.219,6,6.719l-4.375-3.5A1,1,0,1,0,.375,4.781l5,4a1,1,0,0,0,1.25,0l5-4a1,1,0,0,0-1.25-1.562Z" />
              </g>
            </svg>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="https//www.postman.com/postman-enterprise/">
              Postman Enterprise
            </a>
            <a class="dropdown-item" href="https//www.postman.com/case-studies/">
              Enterprise case studies
            </a>
            <a class="dropdown-item" href="https//www.postman.com/company/contact-sales/">
              Contact sales
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="##" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-expanded="false">
            Resources and support
            <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"
              fill="#6b6b6b">
              <g>
                <path
                  d="M10.375,3.219,6,6.719l-4.375-3.5A1,1,0,1,0,.375,4.781l5,4a1,1,0,0,0,1.25,0l5-4a1,1,0,0,0-1.25-1.562Z" />
              </g>
            </svg>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="row dropdown-col-menu">
              <div class="col-sm-6 col-md-4 dropdown-col">
                <h6 class="dropdown-header">Learning</h6>
                <a class="dropdown-item" href="https://learning.postman.com/docs/getting-started/introduction/">
                  Docs
                </a>
                <a class="dropdown-item" href="https//www.postman.com/webinars/">
                  Webinars
                </a>
                <a class="dropdown-item" href="https//www.postman.com/events/breaking-changes/">
                  Breaking Changes show
                </a>
                <a class="dropdown-item" href="/events/postman-space-camp/">
                  Postman Space Camp
                </a>
                <a class="dropdown-item" href="https//www.postman.comcase-studies/">
                  Case studies
                </a>
                <a class="dropdown-item" href="https//www.postman.comstate-of-api/">
                  State of the API
                </a>
              </div>
              <div class="col-sm-6 col-md-4 dropdown-col">
                <h6 class="dropdown-header">Community and events</h6>
                <a class="dropdown-item" href="https://blog.postman.com/">
                  Blog
                </a>
                <a class="dropdown-item" href="https//www.postman.com/community/">
                  Community
                </a>
                <a class="dropdown-item" href="https//www.postman.com/company/student-program/">
                  Student program
                </a>
                <a class="dropdown-item" href="https//www.postman.com/company/student-program/student-summit/">
                  Student Summit
                </a>
                <a class="dropdown-item" href="https//www.postman.com/postman-galaxy/">
                  Postman Galaxy
                </a>
                <a class="dropdown-item" href="https//www.postman.com/company/nonprofit/">
                  Postman for Nonprofits
                </a>
                <a class="dropdown-item" href="https://store.postman.com/" target="_blank" rel="noreferrer">
                  Postman swag
                </a>
              </div>
              <div class="col-sm-6 col-md-4 dropdown-col">
                <h6 class="dropdown-header">Support</h6>
                <a class="dropdown-item" href="https//www.postman.com.support/">
                  Support Center
                </a>
                <a class="dropdown-item" href="https//www.postman.com.support/resellers-support/">
                  Reseller support
                </a>
                <a class="dropdown-item" href="https://status.postman.com/" target="_blank" rel="noreferrer">
                  Postman status
                </a>
                <a class="dropdown-item" hhref="https//www.postman.com/downloads/release-notes/">
                  Release notes
                </a>
                <a class="dropdown-item" href="https//www.postman.com/company/contact-us/">
                  Contact us
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.postman.com/explore">
            Explore
          </a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0 ms-auto">
        <a class="secondary-button d-none nav-sign-in-button" href="/" title="Sign in"
          onClick="ga('send', 'event', 'global-navbar', 'Click', 'sign-in');">
          Sign In
        </a>
        <a class="primary-button d-none nav-sign-up-button" title="Register"
          onClick="ga('send', 'event', 'global-navbar', 'Click', 'sign-up');" style="white-space: nowrap;">
          Sign Up for Free
        </a>
        <a class="primary-button d-none nav-launch-postman-button" title="Launch Postman"
          onClick="ga('send', 'event', 'global-navbar', 'Click', 'launch-postman');">Launch Postman
        </a>
      </div>
    </div>
  </div>
</nav>


<!-- Support Center Secondary Navbar -->
<nav class="navbar-global nav-secondary navbar sticky-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="https://support.postman.com/hc/en-us"
    onClick="ga('send', 'event', 'global-navbar', 'Click', 'blog-home');">
    <span class="contextual-home-link nav-link uber-nav">
      Support Center
      <!--       <span class="sr-only">(current)</span> -->
    </span>
  </a>
  <!-- nav button local navbar start -->
  <button id="secondaryNav" class="mobile-icon-button_caret mobile-icon-button navbar-toggler" type="button"
    data-test="mobileNavTogglerBottom" data-toggle="collapse" data-target="#navbarSupportedContentBottom"
    aria-controls="navbarSupportedContentBottom" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <div id="icon-wrap-two" aria-expanded="false">
        <svg id="navbar-chevron-icons" width="20" height="11" viewBox="0 0 20 11" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L10 10L19 1" stroke="#6B6B6B" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>


      </div>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContentBottom">
    <ul class="property-context-menu navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link uber-nav" href="https://support.postman.com/hc/en-us/profiles/preview"
          onClick="ga('send', 'event', 'global-navbar', 'Click', 'product-updates');">
          Profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link uber-nav" href="https://community.postman.com/"
          onClick="ga('send', 'event', 'global-navbar', 'Click', 'product-updates');">
          Community
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link uber-nav" href="https://support.postman.com/hc/en-us/requests/new"
          onClick="ga('send', 'event', 'global-navbar', 'Click', 'product-updates');">
          Submit a request
        </a>
      </li>

    </ul>
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
</nav>

<!-- <header class="header">
  <div class="logo">
    {{#link 'help_center'}}
      <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
      {{#if settings.show_brand_name}}
        <span aria-hidden="true">{{help_center.name}}</span>
      {{/if}}
    {{/link}}
  </div>

  <div class="nav-wrapper-desktop">
    <nav class="user-nav" id="user-nav">
      <ul class="user-nav-list">
        <li>{{link 'community'}}</li>
        <li>{{link 'new_request' class='submit-a-request'}}</li>
        {{#unless signed_in}}
          <li>
            {{#link "sign_in" class="sign-in"}}
              {{t 'sign_in'}}
            {{/link}}
          </li>
        {{/unless}}
      </ul>
    </nav>
    {{#if signed_in}}
      <div class="user-info dropdown">
        <button class="dropdown-toggle" aria-haspopup="true">
          {{user_avatar class="user-avatar"}}
          <span>
            {{user_name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon" aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </span>
        </button>
        <div class="dropdown-menu" role="menu">
          {{#my_profile role="menuitem"}}{{t 'profile'}}{{/my_profile}}
          {{link "requests" role="menuitem"}}
          {{#link "contributions" role="menuitem"}}{{t "activities"}}{{/link}}
          {{contact_details role="menuitem"}}
          {{change_password role="menuitem"}}
          <div class="separator" role="separator"></div>
          {{link "sign_out" role="menuitem"}}
        </div>
      </div>
    {{/if}}
  </div>

  <div class="nav-wrapper-mobile">
    <button class="menu-button-mobile" aria-controls="user-nav-mobile" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
      {{#if signed_in}}
        {{user_avatar class="user-avatar"}}
      {{/if}}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
      </svg>
    </button>
    <nav class="menu-list-mobile" id="user-nav-mobile" aria-expanded="false">
      <ul class="menu-list-mobile-items">
        {{#if signed_in}}
          <li class="user-avatar-item item">
            {{#my_profile role="menuitem" class="my-profile"}}
              {{user_avatar class="menu-profile-avatar"}}
              <div class="menu-profile-name">
                <div>{{user_name}}</div>
                <div class="my-profile-tooltip">{{t 'profile'}}</div>
              </div>
            {{/my_profile}}
          </li>
          <li class="item">{{link "requests" role="menuitem"}}</li>
          <li class="item">{{#link "contributions" role="menuitem"}}{{t "activities"}}{{/link}}</li>
          <li class="item">{{contact_details role="menuitem"}}</li>
          <li class="item">{{change_password role="menuitem" class='change-password'}}</li>
          <li class="nav-divider"></li>
        {{else}}
          <li class="item">
            {{#link "sign_in" role="menuitem"}}
              {{t 'sign_in'}}
            {{/link}}
          </li>
          <li class="nav-divider"></li>
        {{/if}}
        <li class="item">{{link 'community' role="menuitem"}}</li>
        <li class="item">{{link 'new_request' role="menuitem" class='submit-a-request'}}</li>
        <li class="nav-divider"></li>
        {{#if signed_in}}
          <li class="item">
            {{link "sign_out" role="menuitem"}}
          </li>
        {{/if}}
        </li>
      </ul>
    </nav>
  </div>
</header>
 -->